html {
    font-size: 16px;
}

body {
    background: #FFF8F0;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    line-height: 24px;
    color: #552060;
    margin: 0;
    padding: 0;
}

h1 {
    font-family: "League Spartan", sans-serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 50px;
    color: #190D37;
    margin-top: 10px;
    margin-bottom: 15px;
}

h2 {
    font-family: "League Spartan", sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    color: #000000;
    text-align: center;
    max-width: 700px;
    margin-top: 10px;
    margin-bottom: 20px;
}
h3{
font-family: Poppins;
font-size: 18px;
font-weight: 600;
line-height: 27px;
text-align: center;
margin-bottom: 0;
color: #000000;
}
h4{
    font-family: Poppins;
    font-size: 18px;
    font-weight: 700;
    line-height: 27px;
    margin-bottom: 5px;
    margin-top: 0;
}

#hero-section{
    display: flex;
    max-width: 1200px;
    margin: 0 auto
}
#hero-img{
    width: 50%;
}
#hero-text{
    width: 50%;
    margin-top: 10px;
    padding: 0 15px 0 0;
}
#right-img{
    width: 100%;
    height: 100%;
}
.contact-info{
    margin-bottom: 30px;
}
.contact-me{
    background: #000000;
    color: #ffff;
    text-decoration: none;
    padding: 15px;
    font-size: 18px;
    font-weight: bold;
}
.subtitle{
    margin-bottom: 40px;
    font-size: 18px;
}
#what-i-do{
    text-align: center;
    max-width: 1200px;
    margin: 100px auto;
}
#top{
    max-width: 700px;
    margin: 0 auto;
}
#i-do-box{
    display: flex;
    max-width: 100%;
    margin: 15px;
}
.box{
    background: #FFFFFF;
    margin: 15px;
}
.box-content{
    padding: 20px;
    margin-top: 5px;
    line-height: 30px;
}
.intro{
    color: #0EA5E9;
    text-align: center;
}
#projects{
    max-width: 1200px;
    margin: 0 auto;
}
.projects-header{
    text-align: center;
    max-width: 700px;
    margin: 0 auto;
}
.project-name{
    display: flex;
    margin-bottom: 40px;
}
.pn1{
    background: #0EA5E9;
    width: 25%;
    padding: 60px 10px 60px 10px;
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    color: #FFFFFF;
    border-radius: 5px;
    margin-right: 15px;
}
.pn2{
    background: #FFE819;
    width: 25%;
    padding: 60px 10px 60px 10px;
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    color: #000000;
    border-radius: 5px;
    margin-right: 15px;
}
.pn3{
    background: #FF1919;
    width: 25%;
    padding: 60px 10px 60px 10px;
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    color: #FFFFFF;
    border-radius: 5px;
    margin-right: 15px;
}
.projects-list{
    margin-top: 60px;
}
#pricing{
    max-width: 1200px;
    margin: 0 auto;
}
.bigtext{
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    font-size: 18px;
    text-align: center;
    max-width: 700px;
    margin: 0 auto 40px auto;
}
.price-heading{
    margin: 20px auto;
}
.sketch{
    color: #3B82F6;
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: bold;
}
.price{
    font-size: 14pxpx;
    color:grey;
    margin-bottom: 20px;
}
.price .amount{
    font-size: 40px;
    font-weight: bold;
    color: #000000;
}
.pricing-list{
    list-style: none;
    padding: 0;
    line-height: 32px;
}
.boxes{
    display: flex;   
}
.pricing-box{
    width: 33.3%;
    font-size: 18px;
    margin-right: 20px;
    background: white;
    padding: 20px;
}
.btn-contact{
    width: 100%;
    padding: 10px;
    background: #ffff;
    border-radius: 5px;
    cursor: pointer;
}
.btn-contact:hover{
    background: #000000;
    color: #FFFFFF;
}
.second-box{
    background: #FFE819;
    color: #000000;
}
.psd{
    color: #000000;
}
.btn-psd{
    color: #FFFFFF;
    background: #000000;
}
.btn-psd:hover{
    background: #FFFFFF;
    color: #000000;
}
.desc{
    color: rgb(102, 83, 83);
}
#footer{
    background: #000000;
    width: 100%;
    padding: 20px;
    text-align: center;
    font-size: 14px;
    color: #ffff;
    margin: 40px;
    font-family: poppins;
    font-weight: 500px;

}